@model Probe.Models.GamePlay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GamePlay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Game
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspendMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientReportAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientReportAccess)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { SelectedGame = ViewBag.GameId.SelectedValue })
</p>
