@model IEnumerable<Probe.Models.GamePlay>

@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/themes/custom-dialog/jquery-ui.min.css")"
      rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")"
      rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/probe/probe-setup-tablesorter.js")"
        type="text/javascript"></script>

@helper RenderChoices(Probe.Models.GamePlay item)
{
        
    <div id="menuOptionsDiv" style="float: left">
        <label for="menuOptions"></label>
        <select name="menuOptions" id="menuOptions" data-gameplayid="@item.Id" data-gametype="@item.Game.GameType.Name" data-code="@item.Code" data-pcount="@item.Players.Count()">
            <option>Selection</option>
            @if (ViewBag.DctGamePlayActive[item.Id])
            {<option>Preview</option>}
            @if (item.Players.Count > 0) {<option>Report</option>}
            <option>Edit</option>
            <option>Details</option>
            @if (!ViewBag.DctGamePlayActive[item.Id])
            {<option>Delete</option>}
        </select>
    </div>
}

<h2>My Game Plays</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Select Game: @Html.DropDownList("SelectedGame", "All")
        <input type="submit" value="Filter" />
    </p>
}

<div>
    <table class="tablesorter">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    Players
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SuspendMode)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @if (item.Players.Count > 0) { 
                        <a class="playersDialogLink" data-gameplayid="@item.Id" data-gametype="@item.Game.GameType.Name"  
                           href="#">@Html.DisplayFor(modelItem => item.Players.Count)</a>
                        }
                        else
                        {
                        <a data-gameplayid="@item.Id" data-gametype="@item.Game.GameType.Name"  
                           href="#">@Html.DisplayFor(modelItem => item.Players.Count)</a>
                            
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SuspendMode)
                    </td>
                    <td>
                        @RenderChoices(item)
                    </td>
                </tr>
            }

        </tbody>
    </table>
    @Html.Partial("TablesorterPager")
</div>

@*
BELOW ARE THE HTML DIV'S TO SUPPORT THE REPORT, PREVIEW, 
AND PLAYERS JQUERY UI MODAL DIALOGS    
*@
<div id="dialog-preview" title="Game Play Preview" />
<div id="dialog-players" title="Game Play Players">
    <fieldset>
        <div id="PplayersDiv" style="float: left">
            <label for="Pplayers">Player</label>
            <select name="Pplayers" id="Pplayers"></select>
        </div>
    </fieldset>
</div>
<div id="dialog-report" title="Game Play Report">
    <fieldset>
        <div id="reportTypeDiv" style="float: left">
            <label for="reportType">Report</label>
            <select name="reportType" id="reportType"></select>
        </div>
        <div id="RplayersDiv" style="float: left">
            <label for="Rplayers">Player</label>
            <select name="Rplayers" id="Rplayers"></select>
        </div>
        <div id="reportMessageDiv"></div>
    </fieldset>
</div>

<div id='spinner'></div>

<script type="text/javascript">

    $(function () {

        //BIND GAME PLAY - PREVIEW DIALOG
        $("#dialog-preview").dialog({
            autoOpen: false,
            //position: { my: 'top', at: 'top+55' },
            resizable: true,
            draggable: true,
            modal: true,
        });

        //BIND GAME PLAY - REPORT DIALOG
        $("#dialog-report").dialog({
            autoOpen: false,
            resizable: false,
            width: 400,
            height: 200,
            modal: true,
            buttons: {
                "OK": function () {

                    //get selected report name
                    reportName = $('select[name="reportType"]').val();

                    playerId = $('select[name="Rplayers"] option:selected').attr('data-playerId');

                    reportURL = "";
                    if (gameType == 'Match') {
                        if (reportName == "Game Match Summary") {
                            reportURL = 'Reports/GamePlayerMatchMinMax/' + gamePlayId;
                        } else if (reportName == "Player Match Summary") {
                            reportURL = 'Reports/PlayerMatchSummary/' + gamePlayId + '/' + playerId;
                        }
                    } else if (gameType == 'Test') {
                        reportURL = 'Reports/PlayerTestSummary/' + gamePlayId;;
                    }

                    window.location = reportURL;

                },
                Cancel: function () {
                    $(this).dialog('close');
                }
            }
        });//$("#dialog-report").dialog({

        //BIND MENU OPTION EVENT HANDLERS FOR ACTIONS ON THE GAME PLAY GRID
        $('select[name="menuOptions"]').change(function () {

            ActivityIndicatorOn('#spinner');

            gamePlayId = $(this).attr('data-gameplayid');
            gameType = $(this).attr('data-gametype');
            code = $(this).attr('data-code');
            playerCount = $(this).attr('data-pcount');

            switch ($(this).val()) {
                case 'Preview':
                    ShowPreviewDialog(code,'TestName','TestName')
                    break;
                case 'Report':
                    ShowReportDialog(gamePlayId, gameType, playerCount);
                    break;
                case 'Edit':
                    window.location = 'GamePlays/Edit/' + gamePlayId;
                    break;
                case 'Details':
                    window.location = 'GamePlays/Details/' + gamePlayId;
                    break;
                case 'Delete':
                    window.location = 'GamePlays/Delete/' + gamePlayId;
                    break;
            }

            $(this).val('Selection'); //reset selection menu back to default
            ActivitySelectorOff('#spinner');

        }); //$('select[name="menuOptions"]').change(function () {

        //BIND PLAYERS COUNT COLUMN CLICK WITH THE PLAYERS DIALOG
        $('.playersDialogLink').click(function () {

            gamePlayId = $(this).attr('data-gamePlayId');
            $.getJSON('/api/Players/GetPlayerByGamePlay/' + gamePlayId, {},
            function (data) {

                $('select[name="Pplayers"]').empty();
                data.forEach(function (value, index, ar) {
                    $('select[name="Pplayers"]').append('<option data-playerid="' + value.Id + '">' + value.FirstName + '-' + value.NickName + '</option>');
                });

                $("#dialog-players").show();
                $("#dialog-players").dialog({
                    resizable: false,
                    width: 400,
                    height: 200,
                    modal: true,
                    buttons: {
                        "Close": function () {
                            $(this).dialog('close');
                        }
                    }
                });//$("#dialog-players").dialog({

            });//post
        });//$('#playersDialogLink').click

        $('.tablesorter tr').click(function () {
            $('.tablesorter tr').removeClass('selected-row-class');
            $(this).addClass('selected-row-class')
        });

    }); //$(function () {

    function ShowPreviewDialog(code, firstName, nickName) {
        url = 'Client/ProbeClient/main.html'
            + '?code=' + code + '&firstname=' + firstName + '&nickname=' + nickName
            + '&root=' + '@Request.Url.Authority' + '@Url.Content("~")'; //i.e root = localhost/Probe/ OR localhost:4430/ OR ..


        iframeHtml = '<iframe id="modalIframeId" width="100%" height="99%" marginWidth="0" marginHeight="0" ' +
                     'frameBorder="0" scrolling="no"/>';

        //responsive ui. mod the size of the jquery dialog to a certain point; then we have to use an instance of the browser
        if ($(window).height() > 720) {
            dHeight = 700; 
            $("#dialog-preview").html(iframeHtml).dialog("open").dialog({ height: dHeight, width: 500, resizable: true });
            $("#modalIframeId").attr("src", url);
        } else {
            browswerProps = 'titlebar=no,toolbars=no,menubar=no,location=no,scrollbars=yes,resizable=yes,status=no,width=500' +
                            ',height=' + Math.round($(window).height() * 0.80) +
                            ',left=' + (Math.round($(window).width() / 2) - 250) +
                            ',top=' + (Math.round($(window).height() * 0.10));

            window.open(url, '_blank', browswerProps);
        }

        return false;
    }//function ShowPreviewDialog

    function ShowReportDialog(gamePlayId, gameType, playerCount) {

        $.getJSON('api/Players/GetPlayerByGamePlay/' + gamePlayId, {},
        function (data) {

            if (gameType == 'Match') {
                if (playerCount > 1) {
                    $('#reportTypeDiv').show();
                    $('#reportMessageDiv').hide();
                    $('select[name="reportType"]').empty();
                    $('select[name="reportType"]').append('<option>Game Match Summary</option><option>Player Match Summary</option><option>Player Match Stats</option>');
                } else {
                    $('#reportTypeDiv').hide();
                    $('#reportMessageDiv').html('At least two players must have submitted game plays to generate a report.');
                }
            } else if (gameType == 'Test') {
                $('#reportTypeDiv').show();
                $('#reportMessageDiv').hide();
                $('select[name="reportType"]').empty();
                $('select[name="reportType"]').append('<option>Game Test Scores</option><option>Game Test Stats</option>');
            }

            $('select[name="reportType"]').change(function () {
                //show players select menu when appropriate
                switch ($('select[name="reportType"]').val()) {
                    case 'Game Match Summary':
                        $('#RplayersDiv').hide();
                        break;
                    case 'Player Match Summary':
                        $('#RplayersDiv').show();
                        break;
                    case 'Player Match Stats':
                        $('#RplayersDiv').hide();
                        break;
                    case 'Game Test Scores':
                        $('#RplayersDiv').hide();
                        break;
                    case 'Game Test Stats':
                        $('#RplayersDiv').hide();
                        break;
                }

            });

            //fill the players selection menu
            $('select[name="Rplayers"]').empty();
            data.forEach(function (value, index, ar) {
                $('select[name="Rplayers"]').append('<option data-playerid="' + value.Id + '">' + value.FirstName + '-' + value.NickName + '</option>');
            });

            $('#dialog-report').dialog('open');
            $('#RplayersDiv').hide(); //hide the players selection initially because a first selection doesnt need player selection


        });//post
    } //function ShowReportDialog

</script>
