@model Probe.Models.ChoiceQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Question - Details</h2>

<div>
    <h4>ChoiceQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneChoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneChoice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
