@model Probe.Models.View.GameDTO

<style>
    .myNameEditor {
        color: yellow;
        width: 200px;
    }
    .k-textbox.small {
        width: 100px !important;
    }
    .k-textbox.medium {
        width: 150px !important;
    }
    .k-textbox.large {
        width: 200px !important;
    }

    .wide-full {
        width: 100%;
    }

    .k-edit-form-container {
        width: 450px; /* sets the width of the editable popup*/
    }
    .k-edit-label, .k-edit-form-container .editor-label {
        width: 31%; /* set label closer to left side of popup*/
    }
    .k-edit-field, .k-edit-form-container .editor-field {
        width: 60%; /*set edit field closer to left side of popup*/
    }

    .k-widget.k-tooltip-validation { /* color of validation message */
        color: white;
        background: rgba(225, 0, 0, 1.0);
        text-align: left;
    }
    .k-tooltip { /* error message to the right of the editor field rather than below it*/
        position:inherit;
        /*float: right;*/
        width: 193px;
        margin-left: 0px;
        margin-top: 5px;
    }

    .textareaLarge {
        width: 193px;
        height: 70px;
    }
</style>

<script>
    function OnStartDateChange(e) {
        console.log('StartDate changed');
    }

</script>

<ul class="errors"></ul>

@Html.HiddenFor(model => model.Id)

<div class="k-edit-form-container">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox large" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
   
    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GameTypeId, "Type")
        </div>
        <div class="editor-field">
            @(Html.Kendo().DropDownListFor(model => model.GameTypeId)
                               .Name("GameTypeId")  @* Kendo widget name and bound variable name are required to be the same*@
                               .OptionLabel("Select Type...")
                               .DataTextField("Text")
                               .DataValueField("Value")
                               .DataSource(source =>
                                            { source.Read(read => { read.Action("GetGameTypes", "Games"); }); }
                                          )
            )
            @Html.ValidationMessageFor(model => model.GameTypeId)
        </div>
    </div>
   

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.Description)*@
            @Html.TextAreaFor(model => model.Description, new { @class = "textareaLarge" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Code, new { @class = "k-textbox large" })
            @Html.ValidationMessageFor(model => model.Code)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SuspendMode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SuspendMode)
            @Html.ValidationMessageFor(model => model.SuspendMode)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClientReportAccess,"Player Access to Reports")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClientReportAccess)
            @Html.ValidationMessageFor(model => model.ClientReportAccess)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @(Html.Kendo().DateTimePickerFor(model => model.StartDate)
            .Events(events => events.Change("OnStartDateChange"))
            )
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.Kendo().DateTimePickerFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Published)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Published, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Published)
        </div>
    </div>

    <div id="GridEditPopupNbrPlayers">
        <div class="editor-label">
            @Html.LabelFor(model => model.PlayerCount, "Nbr Players")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayerCount, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PlayerCount)
        </div>
    </div>

    <div id="GridEditPopupNbrStanding">
        <div class="editor-label">
            @Html.LabelFor(model => model.PlayerActiveCount, "Nbr Standing")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayerActiveCount, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PlayerActiveCount)
        </div>
    </div>

    <div id="GridEditPopupNbrQuestions">
        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionCount, "Nbr Questions")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionCount, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.QuestionCount)
        </div>
    </div>
    

</div>


