@model Probe.Models.View.PlayerDTO

<style>
    .myNameEditor {
        color: yellow;
        width: 200px;
    }
    .k-textbox.small {
        width: 100px !important;
    }
    .k-textbox.medium {
        width: 150px !important;
    }
    .k-textbox.large {
        width: 205px !important;
        max-width: 250px
    }

    .wide-full {
        width: 100%;
    }

    .k-edit-form-container {
        width: 400px; /* sets the width of the editable popup*/
    }
    .k-edit-label, .k-edit-form-container .editor-label {
        width: 28%; /* set label closer to left side of popup*/
    }
    .k-edit-field, .k-edit-form-container .editor-field {
        width: 62%; /*set edit field closer to left side of popup*/
    }

    .k-widget.k-tooltip-validation { /* color of validation message */
        color: white;
        background: rgba(225, 0, 0, 1.0);
        text-align: left;
    }
    .k-tooltip { /* error message to the right of the editor field rather than below it*/
        position:inherit;
        /*float: right;*/
        width: 200px;
        margin-left: 0px;
        margin-top: 5px;
    }

    .textareaLarge {
        width: 200px;
        height: 70px;
        max-width: 450px
    }
</style>

<ul class="errors"></ul>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.GameId)

<div class="k-edit-form-container">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "k-textbox large", disabled = "disabled", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NickName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NickName, new { @class = "k-textbox large", disabled = "disabled", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.NickName)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LastName, new { @class = "k-textbox large", disabled = "disabled", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddr)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EmailAddr, new { @class = "k-textbox large", disabled = "disabled", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.EmailAddr)
        </div>
    </div>
   
    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Sex, "Sex")
        </div>
        <div class="editor-field">
            @(Html.Kendo().DropDownListFor(model => model.Sex)
                               .Name("Sex")  
                               .OptionLabel("Select Type...")
                               .DataTextField("Text")
                               .DataValueField("Value")
                               .DataSource(source =>
                                            { source.Read(read => { read.Action("GetSexTypes", "Players"); }); }
                                           )
            )
            @Html.ValidationMessageFor(model => model.Sex)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubmitDateTime)
        </div>
        <div class="editor-field">
            @Html.Kendo().DateTimePickerFor(model => model.SubmitDateTime).Enable(false)
            @Html.ValidationMessageFor(model => model.SubmitDateTime)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Active)
        </div>
    </div>
</div>
