@model Probe.Models.View.QuestionDTO

<style>
    .myNameEditor {
        color: yellow;
        width: 200px;
    }
    .k-textbox.small {
        width: 100px !important;
    }
    .k-textbox.medium {
        width: 150px !important;
    }
    .k-textbox.large {
        width: 405px !important;
        max-width: 450px
    }

    .wide-full {
        width: 100%;
    }

    .k-edit-form-container {
        width: 600px; /* sets the width of the editable popup*/
    }
    .k-edit-label, .k-edit-form-container .editor-label {
        width: 15%; /* set label closer to left side of popup*/
    }
    .k-edit-field, .k-edit-form-container .editor-field {
        width: 75%; /*set edit field closer to left side of popup*/
    }

    .k-widget.k-tooltip-validation { /* color of validation message */
        color: white;
        background: rgba(225, 0, 0, 1.0);
        text-align: left;
    }
    .k-tooltip { /* error message to the right of the editor field rather than below it*/
        position:inherit;
        /*float: right;*/
        width: 400px;
        margin-left: 0px;
        margin-top: 5px;
    }

    .textareaLarge {
        width: 400px;
        height: 70px;
        max-width: 450px
    }
</style>

<ul class="errors"></ul>

@Html.HiddenFor(model => model.Id)

<div class="k-edit-form-container">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox large" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
   
    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionTypeId, "Type")
        </div>
        <div class="editor-field">
            @(Html.Kendo().DropDownListFor(model => model.QuestionTypeId)
                               .Name("QuestionTypeId")  @* Kendo widget name and bound variable name are required to be the same*@
                               .OptionLabel("Select Type...")
                               .DataTextField("Text")
                               .DataValueField("Value")
                               .Value("1")
                               .HtmlAttributes(new { disabled = "disabled", @readonly = "readonly" })
                               .DataSource(source =>
                                            { source.Read(read => { read.Action("GetQuestionTypes", "ChoiceQuestions"); }); }
                                          )
            )
            @Html.ValidationMessageFor(model => model.QuestionTypeId)
        </div>
    </div>
   

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Text,"Text of Question")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text, new { @class = "textareaLarge" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
    </div>

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TestEnabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TestEnabled, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.TestEnabled)
        </div>
    </div>

    <div id="GridEditPopupNbrChoices">
        <div class="editor-label">
            @Html.LabelFor(model => model.ChoicesCount, "Nbr Choices")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChoicesCount, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.ChoicesCount)
        </div>
    </div>

</div>


