<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Probe Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/tablesorter/css/theme.default.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/tablesorter/addons/pager/jquery.tablesorter.pager.css")"
          rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/js/jquery.tablesorter.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/js/jquery.tablesorter.widgets.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tablesorter/addons/pager/jquery.tablesorter.pager.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/spin.min.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/probe/probe-helpers.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/probe/probe-reportchart-helpers.js")"
            type="text/javascript"></script>

    <script type="text/javascript">
        var logErrorUrl = '@Url.Action("LogJavaScriptError", "Error")';
    </script>
    <script src="@Url.Content("~/Scripts/probe/stacktrace.js")" type="text/javascript"></script>

</head>
<body>

@functions{
    public bool IsUserLoggedIn()
    {
        bool returnStatus = System.Web.HttpContext.Current.User.Identity.IsAuthenticated;

        return returnStatus;
    }

    public bool IsUserInRole(string roleName)
    {
        bool returnStatus = false;
        if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            Probe.Models.ApplicationDbContext dbIdentity = new Probe.Models.ApplicationDbContext();
            string userName = System.Web.HttpContext.Current.User.Identity.Name;
            Probe.Models.ApplicationUser user = dbIdentity.Users.Where(u => u.UserName == userName).Single();
            var role = dbIdentity.Roles.Where(r => r.Name == roleName).Single();

            returnStatus = user.Roles.Where(r => r.RoleId == role.Id).Count() > 0;
            
        }

        return returnStatus;
    }
     
    
    
    public string GetControllerName()
    {
        return HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    }
}


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Probe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Game<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Game Setup</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @if (IsUserInRole("Admin"))
                                        {
                                            @Html.ActionLink("Game Type Setup", "Index", "GameTypes")
                                            @Html.ActionLink("Game Configuration Setup", "Index", "GameConfigurations")
                                        }
                                        @if (IsUserLoggedIn()) {
                                            @Html.ActionLink("My Games", "Index", "Games")
                                            @Html.ActionLink("My Games - Manage Their Questions", "Index", "GameQuestions")
                                        }
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Play Game</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @if (IsUserLoggedIn()) { 
                                            @Html.ActionLink("My Game Plays", "Index", "GamePlays")
                                        }
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Question<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @if (IsUserInRole("Admin"))
                                { 
                                @Html.ActionLink("Question Type Setup", "Index", "QuestionTypes")
                                }
                                @if (IsUserLoggedIn()) {
                                    @Html.ActionLink("My Question Library", "Index", "ChoiceQuestions")
                                    @Html.ActionLink("My Question Choices", "Index", "Choices")
                                }
                            </li>
                        </ul>
                    </li>
                    @if (IsUserLoggedIn()) {
                        <li>@Html.ActionLink("Player", "Index", "Players")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

@if (GetControllerName() != "Reports") {
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Probe Application</p>
        </footer>
    </div>
}
else
{
    <div class="reportContentContainer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Probe Application</p>
        </footer>
    </div>
}

    @RenderSection("scripts", required: false)


</body>
</html>
