@{
    ViewBag.Title = "PlayerLMSDetail";
}

<html>
<head>
    <title>Player LMS Detail</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi "></script>
    <script type="text/javascript">

    @Html.Partial("ReportStyleJavaScript")

    google.load('visualization', '1', { packages: ['table'] });

    //google.setOnLoadCallback(drawContent);
    $(document).ready(function () { //appears to be clear up some timing problems for mobile (i.e. android emulator)
        drawContent();
    });

    function AlignTableCellContent() {
        //set the alignment of the cell contents. Can only do this after the fact
        $('.googleReportTableHeader').css('vertical-align', 'top');
        $('.googleReportCellYES').css('vertical-align', 'top');
        $('.googleReportCellNO').css('vertical-align', 'top');
        $('.googleReportCell').css('vertical-align', 'top');
        $('.googleReportCellYESWB').css('vertical-align', 'top');
        $('.googleReportCellNOWB').css('vertical-align', 'top');
        $('.googleReportCellWB').css('vertical-align', 'top');
    }//function AlignTableCellContent

    function drawContent() {
        console.log('func drawContent');
        logError('PlayerLMSDetail - func drawContent start', arguments.callee.trace()); //Logging an event on the server

        if (IsActivitySelector(resize)) ActivityIndicatorOn('#spinner');

        var gameId = '@ViewBag.GameId';
        var gameCode = '@ViewBag.GameCode';
        var playerId = '@ViewBag.PlayerId';
        $.getJSON('@Url.Content("~")' + 'api/Reports/GetPlayerLMSDetailData/' + gameId + '/' + gameCode + '/' + playerId, {},
         function (data) {

             //HANDLER FOR INTERACTIVITY
             selectHandler = function () {
                 console.log('selectHandler');
                 var selectedItem = chart.getSelection()[0]; //will get question id
                 if (selectedItem) {
                     var questionId = data[selectedItem.row].QuestionId;
                     console.log('The question selected ' + questionId);

                     //no handling of an event at this time (9/4/14)
                 }
             };

             //Let's start catching exceptions
             try {

                 /*
                 SETUP GOOGLE TABLE DATA
                 */
                 var tdata = new google.visualization.DataTable();

                 tdata.addColumn('string', 'Question');
                 tdata.addColumn('string', 'Selections');
                 tdata.addColumn('string', 'Correct Choices');

                 rowlength = 3;
                 rowVector = new Array(rowlength);

                 correctCount = 0;
                 for (var i = 0; i < data.length; i++) {

                     cellClassName = 'googleReportCellNOWB';
                     if (data[i].SelectedChoices != null && data[i].SelectedChoices == data[i].CorrectChoices) {
                         cellClassName = 'googleReportCellYESWB'
                         correctCount++;
                     } else {
                         cellClassName = 'googleReportCellNOWB';
                     }

                     question = data[i].Question;
                     (data[i].SelectedChoices != null) ? selectedChoices = data[i].SelectedChoices : selectedChoices = "ANSWER NOT SUBMITTED";
                     CorrectChoices = data[i].CorrectChoices;

                     row = 0;
                     rowVector[row++] = { v: question, p: { 'className': 'googleReportCell' } };
                     rowVector[row++] = { v: selectedChoices, p: { 'className': cellClassName } };
                     rowVector[row++] = { v: CorrectChoices, p: { 'className': 'googleReportCellWB' } };

                     tdata.addRow(rowVector);
                 }

                 $('.tableHeader').html(correctCount + ' Correct out of ' + data.length + ' Questions');

                 var options = {
                     allowHtml: true,
                     alternatingRowStyle: true,
                     cssClassNames: {
                         headerCell: 'googleReportTableHeader',
                         tableCell: 'googleReportTableNonHeader',
                         tableRow: 'googleReportTableNonHeader'
                     },
                     backgroundColor: 'transparent' //doesn't work for tables
                 };

                 /*
                 SETUP REPORT HEADER
                    Header will be different - dependent on the mobile indicator
                    Back button will not exist if report loads within an iFrame (then its in mobile mode)
                 */
                 if (data.length >= 1) {
                     htmlHeader =
                        '<div class="reportInCommonTable">\
                                 <div class="reportInCommonRow">\
                                     <div class="reportInCommonCell reportLabel">\
                                         Game:\
                                     </div>\
                                     <div class="reportInCommonCell reportLabelText">\
                                         @ViewBag.GameName\
                                     </div>\
                                     <div class="reportInCommonCell reportLabel" style="padding-left: 35px">\
                                         Player:\
                                     </div>\
                                     <div class="reportInCommonCell reportLabelText">\
                                         ' + data[0].PlayerName + '\
                                     </div>\
                                     <div class="reportInCommonCell reportLabel" style="padding-left: 35px">\
                                         #Questions Correct:\
                                     </div>\
                                     <div class="reportInCommonCell reportLabelText">\
                                         ' + correctCount + '\
                                     </div>\
                                 </div>\
                     </div>';
                     $('#header').html(htmlHeader);
                     $('.reportReturnLink').html('<a href="#">Back to Player LMS Summary</a>');
                     $('.reportReturnLink').click(function (event) {
                         window.history.go(-1);
                     });

                 }

                 var tableAll = new google.visualization.Table(document.getElementById('table_div'));
                 google.visualization.events.addListener(tableAll, 'select', selectHandler);
                 tableAll.draw(tdata, options);

                 if (IsActivitySelector(resize)) ActivitySelectorOff('#spinner');
                 logError('PlayerLMSDetail - func drawContent end', null); //Logging an event on the server

                 app.AlignTableCellContent();

             } catch (err) {
                 if (arguments != null && arguments.callee != null && arguments.callee.trace) {
                     logError(err, arguments.callee.trace());
                 } else {
                     logError(err, null);
                 }

                 //retry generating the report (ie.e android emulator had a problem)
                 //window.location.reload(true); hopefully won't don't need this. loading via document ready alleviated issue
             }

         });
    }
    </script>
</head>
<body>
    <div id='spinner'></div>
    <div id="title" class="reportTitle">Player Match Details</div>
    <div class="reportReturnLink"></div>
    <div class="reportResetSytle"></div>
    <div id="header" class="reportHeader"></div>
    <div class="tableHeader"></div>
    <div id="table_div"></div>
</body>
</html>
