@model IEnumerable<Probe.Models.GameQuestion>

@{
    ViewBag.Title = "Index";
}

@* TABLESORTER INITIALIZE SCRIPT OVERRIDEN BELOW. NEEDED TO SORT DIFFERENTLY
<script src="@Url.Content("~/Scripts/probe/probe-setup-tablesorter.js")"
        type="text/javascript"></script>
*@
<script type="text/javascript">
    $(function () {
        $("table.tablesorter").tablesorter({
            widthFixed: true,
            sortList: [[4, 0]],
            widgets: ['zebra', 'columns'],
            usNumberFormat: false,
            sortReset: true,
            sortRestart: true
        })
        .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });

    });
</script>



@functions{
    public bool IsGameActive(int? gameId)
    {
        bool returnStatus = true;
        if (gameId != null)
        {
            returnStatus = ViewBag.DctGameActive[(long)gameId];
        }
        else
        {
            returnStatus = false;
        }

        return returnStatus;
    }
}

<h2>My Game - Manage Questions</h2>

<p>
    @if (!IsGameActive(ViewBag.SelectedGame.SelectedValue))
    {
        @Html.ActionLink("Add Question", "Create", new { SelectedGame = ViewBag.SelectedGame.SelectedValue })
    }
    else
    {
        @:NOTE: Game is Ready-Only (A Game is Active for Game)
    }
</p>

@using (Html.BeginForm())
{
    <p>
        Select Game: @Html.DropDownList("SelectedGame")
        <input type="submit" value="Filter" />
    </p>
}

<div>
    <table class="tablesorter">
        <thead>
            <tr>
                <th>
                    Question Name
                </th>
                <th>
                    Question Text
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNbr)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNbr)
                    </td>
                    <td>
                        @if (!IsGameActive(ViewBag.SelectedGame.SelectedValue)) {@Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span> | </span> } 
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                        @if (!IsGameActive(ViewBag.SelectedGame.SelectedValue)) { <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = item.Id }) }
                    </td>
                </tr>
            }

        </tbody>
    </table>
    @Html.Partial("TablesorterPager")
    <div style="margin-top: 20px">
        @Html.ActionLink("Back to Game List", "Index", "Games", new { SelectedGame = ViewBag.SelectedGame }, null)
    </div>
</div>
