@using Probe.Models
@model LoginViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "";
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <!-- Basic Page Needs
      ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Productivity Edge - In Common Social Media App</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->

    <link href="@Url.Content("~/Content/bootstrap.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/style-incommon.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Scripts/plugins/prettyphoto/css/prettyPhoto.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Scripts/plugins/owl-carousel/css/owl.carousel.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Scripts/plugins/owl-carousel/css/owl.theme.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Scripts/plugins/rs-plugin/css/settings.css")"
          rel="stylesheet" type="text/css" media="screen" />

    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"
            type="text/javascript"></script>

</head>
<body>

    <style>
        .pull-bottom {
            display: inline-block;
            vertical-align: bottom;
            float: none;
        }
    </style>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <!-- Start Body Container -->
    <div class="body header-style5">
        <!-- Start Header -->
        <header class="site-header">
            <div class="logo-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                            <h1 class="logo">
                                <a id="leftHeaderLogo" class="loginLink">
                                    <img src="@Url.Content("~/Content/images/white-placeholder-10x1.png")"
                                         alt="Site Logo">
                                    >
                                </a>
                            </h1>
                        </div>
                        <div class="col-md-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 hidden-sm hidden-xs" style="color:black;font-weight: bold;position:relative">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", onsubmit = "return CredentialsSubmitValidation(this);", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div id="landing-page-login" class="form-group" style="position:absolute;left:0; top:82px">
                                    <input class="form-inline incommon-login-textinput" type="text" id="Email" name="Email" placeholder="Email Address" />
                                    <input class="form-inline incommon-login-textinput" type="password" id="Password" name="Password" placeholder="Password" />
                                    <input name="RememberMe" type="hidden" value="true">
                                    <input class="form-inline incommon-login-button" type="submit" value="Sign in" />
                                    <input class="form-inline incommon-login-button registerLink" type="button" value="Register" />
                                </div>
                            }
                        </div>
                        <div class="col-md-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 hidden-md hidden-sm hidden-xs">
                            <h1 class="logo"> <a id="RightHeaderLogo" class="loginLink"> <img src="@Url.Content("~/Content/images/white-placeholder-10x1.png")" alt="Site Logo"> </a></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <button class="mmenu-toggle"><i class="fa fa-bars fa-lg"></i></button>
                            <nav class="main-menu navbar">
                                <ul class="sf-menu" id="main-menu">
                                    <li>
                                        <a class="homeLink">Home <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a class="homeLink">Home</a></li>
                                            <li><a class="loginLink">Sign in</a></li>
                                            <li><a class="registerLink">Register</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Home/About/1">Games <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="Home/About/5">Match Game</a></li>
                                            <li><a href="Home/About/6">Test Game</a></li>
                                            <li><a href="Home/About/7">Last Man Standing Game</a></li>
                                            <li><a href="Home/About/0">Getting Started</a></li>
                                            <li><a href="Home/About/0">Publishing a Game</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Home/About/4">Players <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="Home/About/0">Supported Devices</a></li>
                                            <li><a href="Home/About/0">Instructions</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Home/About/0">Support <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="Home/About/0">Getting Started</a></li>
                                            <li><a href="Home/About/0">About</a></li>
                                            <li><a href="#">Demos</a></li>
                                            <li><a href="#">Tributes</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <nav class="social-icons-colored pull-right"> <a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook fa-lg"></i></a> <a href="http://www.twitter.com" class="twitter"><i class="fa fa-twitter fa-lg"></i></a> <a href="http://www.dribbble.com" class="dribbble"><i class="fa fa-dribbble fa-lg"></i></a> <a href="http://www.youtube.com" class="youtube"><i class="fa fa-youtube-play fa-lg"></i></a> </nav>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="mobile-menu">
                <div class="container">
                    <div class="row"></div>
                </div>
            </nav>
        </header>
        <!-- End Header -->
        <!-- Start Content -->
        <div class="main" role="main">
            <div id="content" class="content full">
                <header class="page-header short parallax" style="background-image:url(@Url.Content("~/Content/images/user-snaps/86312466-PeopleAtDinningRoomTable-1493x201-Header.jpg"))">
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Welcome to In Common</h1>
                                    <p>A social media game app for mobile devices</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 margin-30">
                            <h3><img src="~/Content/images/InCommon-Header-240x40.png" alt="Site Logo"></h3>
                            <p>In Common is a social game app that unites people by asking simple, fun, or silly opinion-based questions to find out what they have in common--or what they don't have in common!</p>
                            <a class="btn btn-primary btn-lg registerLink">Register</a>
                        </div>
                        <div class="col-md-3 col-sm-6 margin-30">
                            <img src="~/Content//images/user-snaps/86312466-PeopleAtDinningRoomTable-600x400.jpg" alt="People playing In Common" class="img-responsive img-thumbnail margin-10">
                            <h5 class="short">Find out what people have in common at a house party gathering</h5>
                            <a href="Home/About/0">Learn more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-6 margin-30">
                            <ul class="owl-carousel single-carousel img-responsive img-thumbnail margin-10 owl-alt-controls" data-columns="1" data-style="fadeUp" data-autoplay="yes" data-pagination="no" data-arrows="no" data-single-item="yes">
                                <li class="item"><img src="~/Content//images/user-snaps/66025678-PeopleAroundMeetingDesk-CorporateGroupBuilding-600x400.jpg" alt="People playing In Common"></li>
                                <li class="item"><img src="~/Content//images/user-snaps/88934379-ManyFramesWithManyPeople-600x400.jpg" alt="People playing In Common"></li>
                            </ul>
                            <h5 class="short">Find out what people have in common with a corporate group building activity</h5>
                            <a href="Home/About/0">Learn more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-6 margin-30">
                            <img src="~/Content//images/user-snaps/86312478-3YoungPeopleAtDinningTableWithDrinks-600x400.jpg" alt="People playing In Common" class="img-responsive img-thumbnail margin-10">
                            <h5 class="short">Find out what people have in common with a remote speed dating event</h5>
                            <a href="Home/About/0">Learn more <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="row margin-20">
                        <div class="col-md-3 col-sm-6 margin-30">
                            <img src="~/Content//images/user-snaps/65328163-OneGirlBySea-600x400.jpg" alt="People playing In Common" class="img-responsive img-thumbnail margin-10">
                            <h5 class="short">Hold a Last Man Standing quiz contest for all your friends</h5>
                            <a href="Home/About/0">Learn more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-6 margin-30">
                            <ul class="owl-carousel single-carousel img-responsive img-thumbnail margin-10 owl-alt-controls" data-columns="1" data-style="fadeUp" data-autoplay="yes" data-pagination="no" data-arrows="no" data-single-item="yes">
                                <li class="item"><img src="~/Content/images/portal-snaps/Snap-MyGames-DemoUser-PreviewBeerTest-600x400.JPG" alt="People playing In Common"></li>
                                <li class="item"><img src="~/Content/images/portal-snaps/Snap-MyGames-DemoUser-Result2QuiltLMS-600x400.JPG" alt="People playing In Common"></li>
                                <li class="item"><img src="~/Content/images/portal-snaps/Snap-MyGames-DemoUser-ResultQuiltLMS-600x400.JPG" alt="People playing In Common"></li>
                            </ul>
                            <h5 class="short">To organize a game you can register for free and get started immediately. It's easy.</h5>
                            <a class="registerLink">Learn more <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-6 margin-30">
                            <h5 class="short">
                                Register and get started organizing your game today. You will have access to a large library on stock questions on various topics.
                                Design your game with these questions or make up your own. <br /><br />Publish your game with one click and your players can play from any device connected to the Internet.
                            </h5>
                        </div>
                        <div class="col-md-3 col-sm-6 margin-30">
                            <img src="~/Content//images/user-snaps/34725576-3YoungAdultsInKitchen-600x400.jpg" alt="People playing In Common" class="img-responsive img-thumbnail margin-10">
                            <h5 class="short">Find out how much your friends know about wine by organizing a wine trivia quiz</h5>
                            <a href="Home/About/0">Learn more <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="row margin-30">
                        <ul class="portfolio-list">
                            <li class="col-md-3 col-sm-6 margin-30">
                                <h3><img src="~/Content/images/InCommon-Header-240x40.png" alt="Site Logo"></h3>
                                <p>
                                    You can author any of three types of social games; Match, Test, or Last Man Standing on the In Common portal.
                                    <br /><br />One click to publish, distribute the game code, and anybody with access to the Internet can play your game.
                                    <br /><br />
                                    A player can play the game within a desktop browser, within a mobile device browswer, or by using the In Common app from the App store (Apple Store or Google Play).
                                </p>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <!-- Portfolio Item  -->
                                <div class="portfolio-item">
                                    <div class="portfolio-image"> <img src="~/Content//images/mobile-snaps/Snap-Mobile-RealityShowQuestion-600x1065.jpg" alt="In Common mobile snap"> </div>
                                    <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Mobile" href="Home/About/0"><i class="fa fa-link fa-2x"></i></a> <a title="Enlarge" data-rel="prettyPhoto[galname]" href="~/Content//images/mobile-snaps/Snap-Mobile-RealityShowQuestion-600x1065.jpg"><i class="fa fa-plus fa-2x"></i></a> </span> <span class="project-name">Match</span> <span class="project-categories">Websites</span> </span> </span>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <!-- Portfolio Item  -->
                                <div class="portfolio-item">
                                    <div class="portfolio-image"> <img src="~/Content//images/mobile-snaps/Snap-Mobile-ParkingQuestion-600x1065.jpg" alt="In Common mobile snap"> </div>
                                    <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Mobile" href="Home/About/0"><i class="fa fa-link fa-2x"></i></a> <a title="Enlarge" data-rel="prettyPhoto[galname]" href="~/Content//images/mobile-snaps/Snap-Mobile-ParkingQuestion-600x1065.jpg"><i class="fa fa-plus fa-2x"></i></a> </span> <span class="project-name">Match</span> <span class="project-categories">Brands</span> </span> </span>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <!-- Portfolio Item  -->
                                <div class="portfolio-item">
                                    <div class="portfolio-image"> <img src="~/Content//images/mobile-snaps/Snap-Mobile-LMSResult2-600x1065.jpg" alt="Portfolio 1"> </div>
                                    <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Mobile" href="Home/About/0"><i class="fa fa-link fa-2x"></i></a> <a title="Enlarge" data-rel="prettyPhoto[galname]" href="~/Content//images/mobile-snaps/Snap-Mobile-LMSResult2-600x1065.jpg"><i class="fa fa-plus fa-2x"></i></a> </span> <span class="project-name">LMS</span> <span class="project-categories">Logos</span> </span> </span>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 margin-30">
                                <h3><img src="~/Content/images/InCommon-Header-240x40.png" alt="Site Logo"></h3>
                                <p>
                                    Match is In Commons signature game
                                    for players to find what they have in common. <br /><br />Test is a game that will find who are the experts of a topic.
                                    <br /><br />Last Man Standing is a test game that requires all players to answer questions one at a time under a synchronized time clock.
                                    When any player submits an incorrect answer they are immediately dismissed from the game .
                                </p>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <!-- Portfolio Item  -->
                                <div class="portfolio-item">
                                    <div class="portfolio-image"> <img src="~/Content//images/mobile-snaps/Snap-Mobile-LMSCorrect-600x1065.jpg" alt="In Common mobile snap"> </div>
                                    <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Mobile" href="Home/About/0"><i class="fa fa-link fa-2x"></i></a> <a title="Enlarge" data-rel="prettyPhoto[galname]" href="~/Content//images/mobile-snaps/Snap-Mobile-LMSCorrect-600x1065.jpg"><i class="fa fa-plus fa-2x"></i></a> </span> <span class="project-name">LMS</span> <span class="project-categories">Websites</span> </span> </span>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <!-- Portfolio Item  -->
                                <div class="portfolio-item">
                                    <div class="portfolio-image"> <img src="~/Content//images/mobile-snaps/Snap-Mobile-LMSQuestion1-600x1065.jpg"> </div>
                                    <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Mobile" href="Home/About/0"><i class="fa fa-link fa-2x"></i></a> <a title="Enlarge" data-rel="prettyPhoto[galname]" href="~/Content//images/mobile-snaps/Snap-Mobile-LMSQuestion1-600x1065.jpg"><i class="fa fa-plus fa-2x"></i></a> </span> <span class="project-name">LMS</span> <span class="project-categories">Websites</span> </span> </span>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <!-- Portfolio Item  -->
                                <div class="portfolio-item">
                                    <div class="portfolio-image"> <img src="~/Content//images/mobile-snaps/Snap-Mobile-QuiltQuestion1-600x1065.jpg" alt="In Common mobile snap"> </div>
                                    <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Mobile" href="Home/About/0"><i class="fa fa-link fa-2x"></i></a> <a title="Enlarge" data-rel="prettyPhoto[galname]" href="~/Content//images/mobile-snaps/Snap-Mobile-QuiltQuestion1-600x1065.jpg"><i class="fa fa-plus fa-2x"></i></a> </span> <span class="project-name">Question</span> <span class="project-categories">Brands</span> </span> </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer -->
        <footer class="site-footer-top" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <section class="footer-widget" id="peBlog">
                            <h4>Blog</h4>
                            <p>Keep up on our always evolving In Common features.</p>
                            <form>
                                <div class="input-group input-group-lg">
                                    <a class="btn btn-primary btn-lg blogLink">Blog</a>
                                </div>
                                <!-- /input-group -->
                            </form>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <section class="footer-widget" id="twitter">
                            <h4>Latest Tweet</h4>
                            <div class="twitter-widget"></div>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <section class="footer-widget" id="contact">
                            <h4>Contact Us</h4>
                            <address class="ico">
                                <p>
                                    <i class="fa fa-map-marker"></i> <span>
                                        <strong>Address:</strong><br />Productivity Edge, Inc.<br />Columbia, Maryland<br />
                                        United States
                                    </span>
                                </p>
                                <p><i class="fa fa-envelope"></i> <span><strong>Email:</strong> support@productivityedge.com</span></p>
                            </address>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <section class="footer-widget" id="flicker-widget">
                            <h4>Latest Flickr Images</h4>
                            <ul class="flickr-widget clearfix" data-flickr-userid="136500757@N06" data-images-count="6"></ul>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
        <footer class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; Productivity Edge, Inc. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons-bar pull-right">
                            <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-lg fa-vimeo-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-lg fa-github-alt"></i></a></li>
                            <li><a href="#"><i class="fa fa-lg fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-lg fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer -->
        <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- End Body Container -->

    <script>
        //global variable
        var root = '@Request.Url.Authority' + '@Url.Content("~")';
    </script>
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"
            type="text/javascript"></script>

    <script>if (typeof jQuery == 'undefined') { document.write(unescape("%3Cscript src='js/jquery-2.0.0.min.js' type='text/javascript'%3E%3C/script%3E")); }</script>

    <script src="@Url.Content("~/Scripts/plugins/prettyphoto/js/prettyphoto.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/plugins/prettyphoto/js/prettyphoto.js")" 
            type="text/javascript"></script> <!-- A duplicate?? -->

    <script src="@Url.Content("~/Scripts/plugins/owl-carousel/js/owl.carousel.min.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/plugins/page-scroller/jquery.pagescroller.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/landing-page/helper-plugins.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/landing-page/init.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/plugins/rs-plugin/js/jquery.themepunch.plugins.min.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/landing-page/revolution-slider-init.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/probe/landing-page.js")"
            type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/probe/probe-ui-common.js")"
            type="text/javascript"></script>

    <!-- End Js -->
</body>
</html>

